<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="concentrator" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="concentrator" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="concentrator" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="concentrator" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">

</head>
<body ng-app="concentrator">
<div data-ng-controller="indexController" data-ng-init="init()"></div>
  <nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
      <!-- note the ng-init and ng-click here: -->
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>

    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="#/overview">Concentrator</a></li>
        <li><a href = "#/product">product</a></li>
        <li><a href = "#/overview">overview</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="...">
          <div class="input-group-btn"  uib-dropdown>
            <button type="button" class="btn btn-default" ng-click="expression">search...</button>
            <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
             {{radioModel || 'null'}}<span class="caret"></span>
           </button>
           <ul uib-dropdown-menu aria-labelledby="single-button">
            <div class="input-group btn-group btn-group-justified">
              <li>
                <label class="btn btn-default active" ng-model="radioModel" uib-btn-radio="'product'" active>product</label>
              </li>
              <li>
                <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'attribute'">attribute</label>
              </li>
              <li>
                <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'category'">category</label>
              </li>
            </div>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </form>

  </ul>
</div>
</nav>


<div ng-view></div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="app.js"></script>
<script src="overview/overview.js"></script>
<script src="login/login.js"></script>
<script src="product/product.js"></script>
<!--<script src="backEndMock.js"></script> -->
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-bootstrap/src/collapse/collapse.js"></script>
<script src="bower_components/angular-ui-bootstrap/src/buttons/buttons.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/ng-template" data-ng-controller="HomeCtrl" id="myModalContent.html" >
  <form name="loginForm">
    <fieldset class="form-group">
      <div class="modal-header">
        <h3 class="modal-title">Please log in</h3>
      </div>
      <div class="modal-body">
        <label class="sr-only" for="exampleinput">Email</label>
        <input type="email" name="email" class="error formcontrol" id="exampleinput" ng-model="email.text" placeholder="Email Address" required>
        <span class="error" ng-show="loginForm.email.$error.required">Required</span>
        <span class="error" ng-show="loginForm.email.$error.email">Email format</span>
        <br>  
        <label class="sr-only" for="examplePass">Password</label>
        <input type="password" name="password" id="examplePass" class="error formcontrol" ng-model="password" placeholder="Password" required>
        <span class="error" ng-show="loginForm.password.$error.required">Required!</span>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-submit="cancel()" ng-click="ok()">OK</button>
        </div>
    </fieldset>
  </form>
</script>

</body>
</html>
