<div data-ng-controller="LoginModalCtrl" data-ng-init="open()"></div>
<script type="text/ng-template" id="myModalContent.html" >
  <form name="loginForm">
    <fieldset class="form-group">
      <div class="modal-header">
        <h3 class="modal-title">Please log in</h3>
      </div>
      <div class="modal-body">
        <label class="sr-only" for="exampleinput">Email</label>
        <input type="email" name="email" class="error formcontrol" id="exampleinput" ng-model="email.text" placeholder="Email Address" required>
        <span class="error" ng-show="loginForm.email.$error.required">Required</span>
        <span class="error" ng-show="loginForm.email.$error.email">Email format</span>
        <br>  
        <label class="sr-only" for="examplePass">Password</label>
        <input type="password" name="password" id="examplePass" class="error formcontrol" ng-model="password" placeholder="Password" required>
        <span class="error" ng-show="loginForm.password.$error.required">Required!</span>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-submit="submit()" ng-click="ok()">OK</button>
        </div>
    </fieldset>
  </form>
</script>