<div ng-controller="ProductController" class="row-fluid">
<form name="ProductName">
	<span class="label label-default">Name</span><input type="text" name="name" ng-model="product.name" ng-model-options="{ getterSetter: true }" />
	<pre>product.name = <span ng-bind="product.name"></span></pre>
	<span class="label label-default">Price</span><input type="number" name="price" ng-model="product.price" ng-model-options="{ getterSetter: true }" />
	<pre>product.price = <span class="element" ng-bind="product.price"></span></pre>
	<span class="label label-default">Producer</span><input type="text" name="producent" ng-model="product.producent" ng-model-options="{ getterSetter: true }" />
	<pre>product.producent = <span class="element" ng-bind="product.producent"></span></pre>
</form>

</div>